testfiles
cf_repos
xarray_repos
notes
*.pyc
*ipynb_checkpoints*
CFAPyX/__pycache__/*.pyc
CFAPyX.egg-info/
.vscode/
testing/
build/
.DS_Store
docs/.DS_Store
docs/source/.DS_Store
docs/source/_images/.DS_Store