[tool.poetry]
name = "cfapyx"
version = "2024.10.11"
description = "The pure-Python implementation of the CF Aggregation conventions, including the Xarray engine to enable reading CFA-netCDF files."
authors = ["dwest77 <daniel.westwood@stfc.ac.uk>"]
license = "{file = \"LICENSE\"}"
readme = "README.md"
keywords = ["cf", "cf-conventions","xarray","cloud","ArrayPartition"]

[tool.poetry.dependencies]
python = "^3.11"
scipy = "1.12.0"
xarray = "2024.6.0"
cfdm = "1.11.1.0"
netCDF4 = "1.6.5"
h5py = "3.11.0"
dask = "2024.7.0"
cftime = "1.6.4"
cfunits = "3.3.7"
pytest = "7.2.0"
ArrayPartition = "^1.0.1"
sphinx = "7.1.2"
sphinx-rtd-theme = "2.0.0"

[build-system]
requires = ["poetry-core", "wheel"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.plugins."xarray.backends"]
CFA = "cfapyx.backend:CFANetCDFBackendEntrypoint"
